{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h3>{{ time_now|date:'d M Y' }}</h3>

   <hr>
   {% if Posts %}
       <table>
           <tr>
               <td>Дата публикации</td>
               <td>Автор</td>
               <td>Заголовок</td>
               <td>Описание</td>
           </tr>
           {% for post in Posts %}
           <tr>
               <td>{{ post.post_created|date:'d M Y' }}</td>
               <td>{{ post.author }}</td>
               <td>{{ post.post_title }}</td>
               <td>{{ post.post_text|truncatechars:20 }}</td>

           </tr>
           {% endfor %}
       </table>
       <hr>
   {% else %}
       <h2>Новостей нет!</h2>!
   {% endif %}
{% endblock content %}