<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{%  load custom_tags %}
{%  load custom_filters %}


<!-- Название -->
{% block title %}
Ads
{% endblock title %}

<!-- В контенте на странице мы выводим все объявления -->
{% block content %}
<h1>Все объявления</h1>
  {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
   <h3>{{ time_now|date:'M d Y' }}</h3>
{% if ads %}
<table>
           <tr>
               <td>Автор</td>
               <td>Класс</td>
               <td>Заголовок</td>
               <td>Текст</td>
           </tr>
     {% for ad in ads %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ ad.author }}</td>
               <td>{{ ad.category }}</td>
               <td>{{ ad.title }}</td>
               <td>{{ ad.text|safe|truncatechars:15 }}</td>

           </tr>
           {% endfor %}

       </table>
{% else %}
       <!-- Если объявлений нет, говорим, что объявлений нет -->
       <h2>Объявлений нет!</h2>
{% endif %}

       {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}